@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE Ùˆ Edge */
  scrollbar-width: none;  /* Firefox */
}
body{
  margin: 0;
  padding: 0;
  background-color: #1d1d20
}